header {
  position: relative;
  height: 100vh;
  background-image: url("../../assets/frontend.png");
  background-position: center center;
  background-size: cover;
  background-color: #39404a;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
  text-shadow: 0 0 4px #000;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px); /* Adjust blur amount here */
  z-index: 1;
}

.header-jumbotron {
  position: relative;
  z-index: 2; /* Ensure this content is above the blur overlay */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.profile-picture {
  width: 150px;
  border-radius: 50%;
}

.header-jumbotron > h3 {
  color: #fff;
  margin: 30px 0 0 0;
  padding: 5px;
  font-size: 3.5rem;
  line-height: 4rem;
  text-transform: uppercase;
}

.header-jumbotron > p {
  padding: 5px;
  margin: 0 5px 20px 5px;
  color: #fff;
  font-size: 1.2rem;
}

.socialMedia {
  color: #fff;
  display: flex;
  gap: 20px;
}

.socialMedia > a {
  background-color: #222831;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia > a > svg {
  height: 30px;
  width: auto;
}

.socialMedia > a:hover {
  background-color: #aa392d;
}

@media only screen and (max-width: 1000px) {
  .socialMedia > a {
    width: 60px;
    height: 60px;
  }

  .socialMedia > a > svg {
    height: 30px;
    width: auto;
  }
  header h3 {
    font-size: 1rem;
  }

  header p {
    font-size: 0.75rem;
  }

  .socialMedia a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .header-jumbotron > h3 {
    font-size: 2rem; /* Adjust font size for even smaller screens */
    line-height: 2.5rem;
  }

  .header-jumbotron > p {
    font-size: 0.875rem; /* Adjust font size for even smaller screens */
  }

  .socialMedia > a {
    width: 50px;
    height: 50px;
  }

  .socialMedia > a > svg {
    height: 20px;
    width: auto;
  }
}

@media only screen and (max-width: 480px) {
  .header-jumbotron > h3 {
    font-size: 1rem; /* Adjust font size for very small screens */
    line-height: 5rem;
  }

  .header-jumbotron > p {
    font-size: 0.8rem; /* Adjust font size for very small screens */
  }

  .socialMedia > a {
    width: 40px;
    height: 40px;
  }

  .socialMedia > a > svg {
    height: 15px;
    width: auto;
  }
}
